<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Moschino | Minimalist Free HTML Portfolio by WowThemes.net</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="/css/woocommerce-layout.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="/css/woocommerce-smallscreen.css"
      type="text/css"
      media="only screen and (max-width: 768px)"
    />
    <link
      rel="stylesheet"
      href="/css/woocommerce.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="/css/font-awesome.min.css"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="/css/easy-responsive-shortcodes.css"
      type="text/css"
      media="all"
    />
  </head>
</html>
